<!DOCTYPE html>
<html>

<head>
    <title>The Lost City of Z</title>
</head>

<body>
    <div id="container" style="width:1250px" align="center">
        <img src="/static/the_lost_city_of_z.jpg" width="825" height="464" />
        <h1>The Lost City of Z</h1>
        <p>OVERVIEW</p>
        <p>details</p>
        <button id="directNextpage" onclick="clickbutton()" type="button">Start Streaming</button><br>
        <button id="map" onclick="clickbutton1()" type="button">View Location Map</button><br>
        <button id="age" type="button">Show age distribution</button><br>
        <p id="field"></p>
        <pre><span id='result'></span></pre><br>
        <pre><span id='result1'></span></pre><br>
        <script>
            function clickbutton1() {
                window.open("http://127.0.0.1:8000/where/")
            }
        </script>
        <script>
            function clickbutton() {
                window.open("http://127.0.0.1:8000/stream/")
                document.getElementById("field").innerHTML = "Loading results..."
            }
        </script>
        <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>
            function refreshOnTime() {
                $.get("/add/", function(ret) {
                    $('#result').html(ret)
                })
                setInterval(refreshOnTime, 1000);
            }
            refreshOnTime();
        </script>
        <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>
            $('#age').click(function() {
                function refreshOnTime1() {
                    $.get("/addlist/", function(ret) {
                        $('#result1').html(ret)
                    })
                    setInterval(refreshOnTime1, 1000);
                }
                refreshOnTime1();
            })
        </script>
        <a class="twitter-timeline" href="https://twitter.com/search?q=The%20Lost%20City%20of%20Z" data-widget-id="857525424989106176">Tweets about The Lost City of Z</a>
        <script>
            ! function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                    p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");
        </script>
    </div>
</body>

</html>